Source: pam-ssh-agent-auth
Priority: optional
Maintainer: Christian M. Amsüss <chrysn@fsfe.org>
Build-Depends: debhelper (>= 9), autotools-dev, libssl-dev, libpam0g-dev
Standards-Version: 3.9.5
Section: libs
Homepage: http://pamsshagentauth.sf.net/

Package: libpam-ssh-agent-auth
Section: admin
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PAM Authentication via forwarded ssh-agent
 pam_ssh_agent_auth is a PAM module which permits PAM authentication via your
 keyring in a forwarded ssh-agent.
 .
 This module can be used to provide authentication for anything run locally that
 supports PAM. It was written specifically with the intention of permitting
 authentication for sudo without password entry, and also has been proven useful
 for use with su as an alternative to wheel.
